#slider-2 H1 {
  color: #ffffff;
  text-align: left;
}
#slider-2 P {
  color: #ffffff;
  text-align: left;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-0 .mbr-navbar__items a {
  font-size: 15px;
}
#header4-1 H1 {
  color: #000000;
  font-size: 48px;
}
#header4-1 P {
  color: #475577;
  font-size: 23px;
}
#msg-box5-3 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-3 .mbr-article {
  color: #ffffff;
}
#msg-box1-a .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-a .mbr-article {
  color: #fff;
}
#msg-box2-e .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-e .mbr-article {
  color: #252525;
}
#form1-8 .mbr-header__text {
  color: #ffffff;
}
#social-buttons1-d .mbr-header__text {
  text-align: left;
}
#ext_menu-f .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-f.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-f .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-f .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-f .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-f .mbr-navbar__items a {
  font-size: 15px;
}
#ext_menu-i .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-i.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-i .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-i .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-i .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-i .mbr-navbar__items a {
  font-size: 15px;
}
#ext_menu-n .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-n.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-n .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-n .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-n .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-n .mbr-navbar__items a {
  font-size: 15px;
}
